<!-- <app-info [Content1]="Quote1"></app-info> -->
<app-carousel [showQuotes]="false" [prodottiInInput]="this.prodottiCarousel"></app-carousel>
<app-contatore-kcal></app-contatore-kcal>

<!-- MODALE DA APRIRE UNA VOLTA CHE LA REGISTRAZIONE è ANDATA A BUON FINE  -->
<ng-template #registrationModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Registrato con successo</h4>
    <button type="button" class="btn-close" aria-label="Close"
      (click)="modal.dismiss('modale chiuso dalla x in alto.')"></button>
  </div>
  <div class="modal-body">
    <h4>
      Complimenti {{ dataRegistrazioneUser.name }} , ti sei correttamente
      registrato. Eccoun repilogo dei tuoi dati:
    </h4>
    <ul>
      <li>Nome:{{ dataRegistrazioneUser.name }}</li>
      <li>Email:{{ dataRegistrazioneUser.email }}</li>
      <li>Telefono:{{ dataRegistrazioneUser.phone }}</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('modale chiuso dal bottone')">
      Close
    </button>
  </div>
</ng-template>

<!-- modale generale da visualizzare ogni volta che si accede a home per far vedere delle ads finte -->
<app-general-modal [visible]="this.visibleModal"></app-general-modal>