.custom-feature {
  width: 40%;
  z-index: 9999;
  position: fixed;
  top: 5px;
  right: 10px;
  background-color: white;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 30px;
  max-height: 350px;
  overflow-y: scroll;
}

/* Media query per schermi piccoli */
@media (max-width: 600px) {
  .custom-feature {
    width: 70%;
  }
}

/* Media query per schermi medi */
@media (min-width: 601px) and (max-width: 1024px) {
  .custom-feature {
    width: 60%;
  }
}

/* Media query per schermi grandi */
@media (min-width: 1025px) {
  .custom-feature {
    width: 30%;
  }
}

.bounce-in-top {
  animation: bounce-in-top 1.1s both;
}

.bounce-out-top {
  animation: bounce-in-top 1.1s reverse;
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: fit-content;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
