<div class="card m-3 focused-style">
  <img
    class="img-style"
    [src]="giveDefaultImageIfNotPresent(prodotto.image_url)"
    [alt]="prodotto.description"
  />
  <div class="card-header">
    <h5 class="card-title fs-3">{{ UpperFirstLetter(prodotto.name) }}</h5>
  </div>
  <div class="card-body">
    <p class="card-text">
      {{ troncaDescrizione(prodotto.description, 100) }}
    </p>
    <p class="fs-3">$ {{ prodotto.prezzo }}</p>
    <p>disponibilità magazzino: {{ prodotto.stock }} unità</p>
    <div class="d-flex gap-1">
      <button
        routerLink="/home/dettaglioProdotto/{{ prodotto.id }}"
        class="btn Myprimary Mywhite"
      >
        Vedi dettagli
      </button>
      <button class="btn btn-success">Aggiungi al carrello</button>
    </div>
    <div
      [ngStyle]="{
        border: '0.125em solid ' + isAvailable(prodotto.is_active)[2]
      }"
      class="text-center d-block my-3 ms-5"
    >
      <p
        [ngStyle]="{
                  color: isAvailable(prodotto.is_active)[1] ? 'green' : 'red',
                }"
        class="txt m-0"
      >
        {{ isAvailable(prodotto.is_active)[0] }}
      </p>
    </div>
  </div>
</div>
