@import "../../../styles/color.scss";

// .img-style {
//   width: 60%;
//   height: 200px;
//   object-fit: cover;
// }

.img-style {
  width: auto;
  height: 250px;
  object-fit: cover;
}

.rotate {
  rotate: -10deg;
}

.txt {
  font: normal 6em/1.1 "Fjalla One", Arial, sans-serif;
  color: #5f5e61;
  text-transform: uppercase;
  //   border: 0.125em solid #5f5e61;
  display: inline-block;
  border-radius: 0.2em;
  padding: 0.15em 0.15em 0.075em;
  font-size: 1.2rem;
  font-weight: 800;
}

.focused-style {
  scale: 1;
  transition: transform 0.3s ease; /* Aggiungi una transizione per un effetto più fluido */
}

.focused-style:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease; /* Aggiungi una transizione per un effetto più fluido */
}

.disabled-card {
  filter: grayscale(100%);
  opacity: 0.5;
  pointer-events: none; /* Disabilita l'interazione con la card */
}

.min-heigth {
  min-height: 451px;
}

.tondino {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 85%;
  top: 10%;
  box-shadow: 4px 2px rgb(153, 152, 152);
}
