<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-6">
      <div class="m-4 border border-2 rounded-4 text-center">
        <ng-container *ngIf="!Content1">
          <p class="text-center">Caricamento...</p>
        </ng-container>

        <div class="p-3" *ngIf="Content1">
          <h4 class="fs-4 d-flex justify-content-center">{{ quote }}</h4>
          <h5 class="fs-5 d-flex me-auto">{{ author }}</h5>
          <h6 class="fs-6 d-flex me-auto">{{ category }}</h6>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-6">
      <div class="m-4 border border-2 rounded-4">
        <div class="d-flex flex-column">
          <label class="m-3" for="food">
            Inserisci il cibo di cui vuoi sapere i valori nutrizionali</label
          >
          <input
            class="w-50 mb-3 ms-3"
            type="text"
            name="food"
            id="food"
            placeholder="Inserisci una quantità di cibo"
          />
        </div>
      </div>
    </div>
  </div>
</div>
