<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-6">
      <div class="m-4 border border-2 rounded-4">
        <h4 *ngIf="Content1">{{ getQuote(Content1) }}</h4>
        <h5>{{ getAuthor(Content1) }}</h5>
        <h6>{{ getCategory(Content1) }}</h6>
        <!-- <p class="p-3 m-0">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          soluta ab aliquid sapiente sit ea ipsa ipsum consectetur nam
          repudiandae aliquam, voluptas ducimus. Fuga quisquam dignissimos id
          aspernatur rem vel est totam, laborum accusamus numquam asperiores?
          Temporibus voluptatibus modi totam quaerat et voluptate accusantium
          doloremque. Ipsum, modi iusto tempore consequatur officiis impedit. Ea
          sint ratione repellendus delectus. Quasi nulla repellendus vitae
          dolorum pariatur incidunt delectus praesentium! Eligendi temporibus
          fugiat delectus eos, facilis similique natus aut, commodi architecto
          molestias asperiores cum! Minima totam deserunt harum. Quos aut
          voluptas atque facilis deleniti minima commodi officiis vero
          necessitatibus dolor, impedit dicta accusantium consequuntur.
        </p> -->
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-6">
      <div class="m-4 border border-2 rounded-4">
        <!-- <p class="p-3 m-0">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          soluta ab aliquid sapiente sit ea ipsa ipsum consectetur nam
          repudiandae aliquam, voluptas ducimus. Fuga quisquam dignissimos id
          aspernatur rem vel est totam, laborum accusamus numquam asperiores?
          Temporibus voluptatibus modi totam quaerat et voluptate accusantium
          doloremque. Ipsum, modi iusto tempore consequatur officiis impedit. Ea
          sint ratione repellendus delectus. Quasi nulla repellendus vitae
          dolorum pariatur incidunt delectus praesentium! Eligendi temporibus
          fugiat delectus eos, facilis similique natus aut, commodi architecto
          molestias asperiores cum! Minima totam deserunt harum. Quos aut
          voluptas atque facilis deleniti minima commodi officiis vero
          necessitatibus dolor, impedit dicta accusantium consequuntur.
        </p> -->
      </div>
    </div>
  </div>
</div>
