<div class="container-fluid min-vh-100 back-image">
  <p-toast [key]="keyToast" />
  <div class="d-flex justify-content-center align-content-center flex-column min-vh-100">
    <div class="row">
      <div class="col-12">
        <div class="logo rounded rounded-circle d-flex justify-content-center">
          <img class="logo-img rounded rounded-circle" src="assets/images/logo.webp" alt="immagine logo">
        </div>

        <div class="text-center mt-3">
          <h1 class="display-2 fw-bold">Benvenuto in Microstore</h1>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <!-- Colonna sinistra -->


      <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="col-8 d-flex flex-column align-items-center">
        <div class="mb-3 w-75">
          <label for="email" class="form-label">Email</label>
          <input type="text" id="email" class="form-control" required ngModel name="email" />
        </div>
        <div class="mb-3 w-75">
          <label for="password" class="form-label">Password</label>
          <input type="password" id="password" class="form-control" required ngModel name="password" />
        </div>
        <button type="submit" class="btn btn-primary w-50 mt-3">
          <i class="bi bi-person"></i> Effettua Il Login
        </button>
      </form>


      <!-- Separatore verticale -->
      <div class="col-1 d-flex justify-content-center">
        <div class="vr"></div>
      </div>

      <!-- Colonna destra -->
      <div class="col-3 d-flex flex-column align-items-center">
        <button routerLink="/registrazione" class="btn btn-success w-75">
          <i class="bi bi-person-plus"></i>Oppure Registrati
        </button>
      </div>
    </div>
  </div>
</div>