<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="my-2">
        <i
          style="font-size: 4rem"
          class="pi pi-arrow-left arrow-color pointer"
          routerLink="/home/prodotti"
        ></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <img
          class="maxheigth"
          [src]="prodotto.image_url"
          [alt]="prodotto.description"
        />
      </div>
    </div>

    <div class="col-md-4">
      <div class="card p-3 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ prodotto.name }}</h5>
          <p class="card-text">{{ prodotto.description }}</p>
          <p class="card-text">
            <strong>Prezzo:</strong> ${{ prodotto.prezzo }}
          </p>
          <p class="card-text">
            <strong>Quantità rimasta:</strong> {{ prodotto.stock }}
          </p>
          <p class="card-text">
            <strong>Disponibilità:</strong>
            <span
              [ngClass]="{
                'text-success': prodotto.is_active,
                'text-danger': !prodotto.is_active
              }"
            >
              {{ prodotto.is_active ? "Disponibile" : "Non disponibile" }}
            </span>
          </p>
          <button class="btn btn-primary btn-block mt-3">Acquista</button>
        </div>
      </div>
    </div>
  </div>
</div>
