<div class="container-fluid">

  <ng-container *ngIf="this.prodotto?.is_active === 'false'">
    <div class="row">
      <div class="col-12">
        <p-button label="Reimposta come prodotto disponibile">
        </p-button>
      </div>
    </div>
  </ng-container>


  <div class="row">
    <div class="col-12">
      <div class="mb-4">
        <i (click)="goBack()" style="font-size: 4rem" class="pi pi-arrow-left arrow-color pointer"></i>
      </div>
    </div>
  </div>

  <div class="row-wrapper my-3 position-relative">
    <div class="border border-4 position-absolute w-100 h-100 text-center d-flex align-items-center"
      [ngClass]="{'d-none' : isProdottoDisponibile()}">
      <ng-container *ngIf="!this.TestoNonVisible() ; else mostraIcona">
        <p class="fw-bold stile_p w-100">Non disponibile</p>
      </ng-container>
      <ng-template #mostraIcona>
        <i class="pi pi-thumbs-down-fill fw-bold stile_p w-100 p-5"></i>
      </ng-template>
    </div>
    <div *ngIf="prodotto?.is_active === 'true'; else prodNonDisponibile" class="row">
      <div class="col-md-8">
        <div class="card shadow-sm">
          <img class="maxheigth" [src]="prodotto?.image_url" [alt]="prodotto?.description" />
        </div>
      </div>

      <div class="col-md-4">
        <div class="card p-3 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{ prodotto?.name }}</h5>
            <p class="card-text">{{ prodotto?.description }}</p>
            <p class="card-text">
              <strong>Prezzo:</strong> ${{ prodotto?.prezzo }}
            </p>
            <p class="card-text">
              <strong>Quantità rimasta:</strong> {{ prodotto?.stock }} <button *ngIf="isAdmin()" (click)="showModale()"
                class="btn Myprimary Mywhite altezza-button d-inline p-0 px-2 py-1 font-custom align-items-center">Aggiungi
                scorte</button>
            </p>

            <div class="d-flex">
              <strong>Disponibilità:</strong>
              <div [ngStyle]="{
                border: '2px solid ' + isAvailable(prodotto?.is_active)[2],
                'background-color': isAvailable(prodotto?.is_active)[2]
              }" class="tondino ms-2"></div>
            </div>

            <div class="d-flex gap-1">
              <button [disabled]="!isAvailable(prodotto?.is_active)[1]" class="btn btn-primary btn-block mt-3">
                Aggiungi al carrello
              </button>
              <button (click)="this.showModalDelete()" class="btn btn-danger btn-block mt-3">
                Imposta come non disponibile
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- toast per mostrare esito aggiunta stock al prodotto selezionato -->
    <p-toast key="toastAddStock" />

    <!-- modale aggiungi quantità prodotto -->
    <p-dialog header="Aggiungi Quantità" [modal]="true" [(visible)]="Modalvisible" [style]="{ width: '30rem' }">
      <app-aggiungi-scorte-prodotto (EmitBoolCloseToast)="closeModalAddStock($event)"
        [idProdotto]="prodotto?.id"></app-aggiungi-scorte-prodotto>
    </p-dialog>

  </div>

  <!-- MODALE GENERICO AL CUI INTERNO RENDERIZZO IL COMPONENTE PER CANCELLARE IL PRODOTTO -->
  <app-general-modal [visible]="this.visibilityModalDelete">
    <app-cancella-prodotto-soft (chiudiModaleDelete)="this.getVisibilityModalDelete($event)"
      [nomeProdotto]="this.getNomeProdotto()" [idProdotto]="this.getIdProdotto()"></app-cancella-prodotto-soft>
  </app-general-modal>
  <!-- MODALE GENERICO AL CUI INTERNO RENDERIZZO IL COMPONENTE PER CANCELLARE IL PRODOTTO -->

  <ng-template #prodNonDisponibile>
    <div class="row greyLike">
      <div class="col-md-8">
        <div class="card shadow-sm">
          <img class="maxheigth" [src]="prodotto?.image_url" [alt]="prodotto?.description" />
        </div>
      </div>

      <div class="col-md-4 ">
        <div class="card p-3 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{ prodotto?.name }}</h5>
            <p class="card-text">{{ prodotto?.description }}</p>
            <p class="card-text">
              <strong>Prezzo:</strong> ${{ prodotto?.prezzo }}
            </p>
            <p class="card-text">
              <strong>Quantità rimasta:</strong> {{ prodotto?.stock }}
            </p>

            <div class="d-flex">
              <strong>Disponibilità:</strong>
              <div [ngStyle]="{
                  border: '2px solid ' + isAvailable(prodotto?.is_active)[2],
                  'background-color': isAvailable(prodotto?.is_active)[2]
                }" class="tondino ms-2"></div>
            </div>

            <button [disabled]="!isAvailable(prodotto?.is_active)[1]" class="btn btn-primary btn-block mt-3">
              Aggiungi al carrello
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>


</div>