@import "../../../styles/color.scss";

.arrow-color {
  color: $primary-color-1;
  font-size: 5rem;
  margin-block-start: 2rem;
}

.arrow-color:hover {
  color: $primary-color-1;
}
.img {
  width: 100%;
}

.maxheigth {
  max-height: 600px;
  object-fit: cover;
}

.tondino {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  // top: 0;
  // left: 25%;
  // top: 10%;
  box-shadow: 4px 2px rgb(153, 152, 152);
}
