<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="my-3">
        <label for="nomeProdotto">Nome Prodotto</label>
        <input type="text" pInputText formControlName="nomeProdotto" name="nomeProdotto" id="nomeProdotto"
            class="rounded-3 w-100 h-input " />
        <p class="error-msg m-0 ms-1"
            *ngIf="form.controls.nomeProdotto.hasError('required') && form.controls.nomeProdotto.touched">
            Nome obbligatorio
        </p>
    </div>

    <div class="my-3">
        <label for="username">Descrizione Prodotto</label>
        <input type="text" pInputText formControlName="descrizione" name="descrizione" id="descrizione"
            class="rounded-3 w-100 h-input " />
        <p class="error-msg m-0 ms-1"
            *ngIf="form.controls.descrizione.hasError('required') && form.controls.descrizione.touched">
            Descrizione obbligatoria
        </p>
    </div>


    <div class="my-3">

        <label for="prezzo">Prezzo</label>
        <input type="number" pInputText formControlName="prezzo" name="prezzo" id="prezzo"
            class="rounded-3 w-100 h-input " />

        <p class="error-msg m-0 ms-1" *ngIf="form.controls.prezzo.hasError('required') && form.controls.prezzo.touched">
            prezzo obbligatorio
        </p>
    </div>


    <div class="my-3">

        <label for="url">URL Immagine</label>
        <input type="text" pInputText formControlName="url" name="url" id="url" class="rounded-3 w-100 h-input " />

        <p class="error-msg m-0 ms-1" *ngIf="form.controls.url.hasError('required') && form.controls.url.touched">
            URL immagine obbligatorio
        </p>
    </div>

    <div class="d-flex justify-end gap-2">
        <button type="submit" [disabled]="!isFormValid()" class="btn Myprimary Mywhite">Crea Prodotto</button>
        <button type="button" (click)="closeModal()" class="btn btn-success">Cancella</button>
    </div>

</form>