<ngb-carousel>
  <ng-container *ngIf="this.prodottiInInput">
    <ng-template ngbSlide *ngFor="let prodotto of this.prodottiInInput">
      <div class="picsum-img-wrapper">
        <img (click)="redirectToDetails(prodotto)" [src]="getPercorso(prodotto)" [alt]="getDesc(prodotto)"
          class="w-100 altezza pointer" />
      </div>
      <div class="carousel-caption">
        <h3 class="fs-1 fw-bolder">{{ getTitle(prodotto) }}</h3>
        <p class="fs-2">{{ getDesc(prodotto) }}</p>
      </div>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="this.quotesInInput">
    <ng-template ngbSlide *ngFor="let quote of this.quotesInInput">

      <div class="card shadow-sm p-3 mb-4 bg-light rounded">
        <div class="card-body">
          <h4 class="card-title fs-4">{{ quote?.quote }}</h4>
          <h5 class="card-subtitle mb-2 text-muted fs-5 mt-3">{{ quote?.author }}.</h5>
        </div>
      </div>

    </ng-template>
  </ng-container>

  <!-- <ng-container ngbSlide *ngFor="let item of this.ItemInInput">
    <div class="picsum-img-wrapper">
      <img (click)="redirectToDetails(prodotto)" [src]="getPercorso(prodotto)" [alt]="getDesc(prodotto)"
        class="w-100 altezza pointer" />
    </div>
    <div class="carousel-caption">
      <h3 class="fs-1 fw-bolder">{{ getTitle(prodotto) }}</h3>
      <p class="fs-2">{{ getDesc(prodotto) }}</p>
    </div>
  </ng-container> -->
</ngb-carousel>