@import "../../../styles/color.scss";

nav {
  background-color: $primary-color-1 !important;
}

header {
  background-color: $primary-color-1 !important;
  padding-inline-start: 15px;
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

mb-5 {
  margin-bottom: 3.5rem !important;
}

.color {
  color: $third-color;
}

.my-badge {
  position: absolute;
  top: 16px;
  right: -5px;
  color: whitesmoke;
  background-color: rgb(40, 140, 190);
  text-align: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding-bottom: 23px;
}
