<header class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark me-2">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">{{ titolo }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item pointer" routerLink="/home">
            <a class="nav-link" aria-current="page">Home</a>
          </li>
          <li class="nav-item pointer" routerLink="prodotti">
            <a class="nav-link">Prodotti</a>
          </li>
          <li class="nav-item pointer" routerLink="gestioneOrdini">
            <a class="nav-link">Gestione Ordini</a>
          </li>
        </ul>



        <!-- dropdown menu bootstrap -->
        <ng-container
          *ngIf="areWeInProdottiComponent() || areWeInCarrelloCorrenteComponent() || areWeInGestioneCarrelliComponent()">
          <div class="dropdown-center position-relative">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="my-badge">{{this.getItemInCart_Length()}}</div>
              <i class="pi pi-shopping-cart nav-link color" style=" font-size: 2rem"></i>
            </button>

            <ul class="dropdown-menu">
              <li (click)="goToCarrelloCorrente()"><a class="dropdown-item pointer">Carrello Corrente</a></li>
              <li><a (click)="goToGestioneCarrelli()" class="dropdown-item pointer">Gestione Carrelli</a></li>

            </ul>
          </div>
        </ng-container>


        <!-- icona cart -->
        <!-- <div class="nav-item pointer mx-2 position-relative">
          <div class="my-badge">{{this.getItemInCart_Length()}}</div>
          <i class="pi pi-shopping-cart nav-link color" style=" font-size: 2rem"></i>
        </div> -->


      </div>
      <div class="d-flex align-items-end">
        <p class="m-0 color">Bentornato, {{showUsername()}}!</p>

        <i (click)="goToProfile()" class="pi pi-user nav-link color mx-2 pointer" style=" font-size: 1.3rem"></i>

      </div>
      <button (click)="logout()" class="pointer text-white d-flex align-items-center btn">
        <i class="pi pi-sign-out ms-1" style="font-size: 1.3rem"></i>
      </button>
    </div>
  </nav>
</header>