<header>
  <nav class="navbar navbar-expand-lg navbar-dark me-2">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">{{ titolo }}</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item pointer" routerLink="/home">
            <a class="nav-link active" aria-current="page">Home</a>
          </li>
          <li class="nav-item pointer" routerLink="prodotti">
            <a class="nav-link">Prodotti</a>
          </li>
          <li class="nav-item pointer" routerLink="gestioneOrdini">
            <a class="nav-link">Gestione Ordini</a>
          </li>
          <li class="nav-item pointer">
            <a class="nav-link"> Gestione Carrelli</a>
          </li>
        </ul>
      </div>
      <div
        class="pointer text-white d-flex align-items-center"
        routerLink="login"
      >
        Logout <i class="pi pi-sign-out ms-1" style="font-size: 1.3rem"></i>
      </div>
    </div>
  </nav>
</header>
