/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
// @import 'bootstrap/scss/bootstrap';
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.css";
@import "../node_modules/primeicons/primeicons.css";
@import "./app/styles/color.scss";
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif !important;
}

.pointer {
  cursor: pointer;
}

.margin-top {
  margin-block-start: 4.5rem;
}

.card {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.card-title {
  font-weight: bold;
  color: #2c3e50;
}

.card-subtitle {
  color: #7f8c8d;
}

.card-text {
  color: #34495e;
}

.form-label {
  font-weight: bold;
  color: #2c3e50;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  background-color: #3498db;
  border-color: #2980b9;
}

.btn-primary:hover {
  background-color: #2980b9;
  border-color: #1c6ea4;
}

.mt-7 {
  margin-top: 6.8rem;
}

.Myprimary {
  background-color: $primary-color-1 !important;
}

.Myred {
  background-color: $primary-color-2 !important;
}

.Mywhite {
  color: $white !important;
}

.error-msg {
  font-size: 1rem;
  color: rgb(160, 24, 24);
}

.dimensione-img {
  width: 120px;
  object-fit: cover;
}
