<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="my-3">

        <label class="my-1" for="stock">Seleziona Quantità da aggiungere</label>

        <select formControlName="stock" name="stock" id="stock" class="form-select" aria-label="Default select example">
            <option selected>Seleziona quantità di aggiungere</option>
            <option value="1">1 unità</option>
            <option value="2">2 unità</option>
            <option value="5">5 unità</option>
            <option value="10">10 unità</option>
            <option value="15">15 unità</option>
            <option value="20">20 unità</option>
        </select>
        <p class="error-msg" *ngIf="form.controls.stock.hasError('required') && form.controls.stock.touched">
            Inserisci un valore.
        </p>
        <div class="d-flex justify-end gap-2 my-3">
            <button [disabled]="!isFormValid()" type="submit" class="btn Myprimary Mywhite">Aggiungi Quantità</button>
            <button type="button" (click)="emitBooleanToast()" class="btn btn-success">Cancella</button>
        </div>
    </div>
</form>